@model HR_System.Models.Setting

@{
    ViewData["Title"] = "Index";

}

<section id="horizontal-form-layouts" >

	<div class="row" >
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title-wrap bar-success">
						<h4 class="card-title" id="horz-layout-basic">General Settings Form </h4>
					</div>
					<p class="mb-0">This is the basic horizontal form with labels on left and cost estimation form is the default position.</p>
				</div>
				<div class="card-body">
					<div class="px-3">
						<form method="post" class="form form-horizontal">
							<div class="form-body">
								<h4 class="form-section">
									<i class="icon-user"></i>General information</h4>
								<div class="form-group row">
									<label asp-for="PlusPerhour" class="col-md-3 label-control" for="projectinput1">The extra: </label>
									<div class="col-md-9">
										<input asp-for="PlusPerhour" type="text" id="projectinput1" class="form-control" name="PlusPerhour" >
									</div>
								</div>
								<div class="form-group row">
									<label asp-for="MinusPerhour" class="col-md-3 label-control" for="projectinput2">
                                        Discount: </label>
									<div class="col-md-9">
										<input asp-for="MinusPerhour" type="text" id="projectinput2" class="form-control" name="MinusPerhour">             
									</div>
								</div>
									<div class="form-group row">
									<label asp-for="Dayoff1" class="col-md-3 label-control" for="projectinput3">
                                        First Day: </label>
									<div class="col-md-9">
										<select asp-for="Dayoff1" type="text" id="projectinput3" class="form-control" 
                                         asp-items="ViewBag.vac">
										</select>
									</div>
								</div>
									<div class="form-group row">
									<label asp-for="Dayoff2" class="col-md-3 label-control" for="projectinput4">
                                        Second Day: </label>
									<div class="col-md-9">
										<select asp-for="Dayoff2" type="text" id="projectinput4" class="form-control"
                                         asp-items="ViewBag.vac">
										</select>
									</div>
								</div>

							<div class="form-actions">
@if (ViewBag.groupId == null || ViewBag.groupId.Update || ViewBag.groupId.Add)
								{
								<button asp-action="index" class="btn btn-danger mr-1">
									<i class="icon-trash"></i> Cancel
								</button>
								<button type="submit" class="btn btn-success">
									<i class="icon-note"></i> Save
								</button>
}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


</section>



@*<h1>Index</h1>

<h4>Setting</h4>
<hr />
	<div class="card-title-wrap bar-success">
						<h4 class="card-title" id="horz-layout-basic">General Settings Form </h4>
					</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlusPerhour" class="control-label"></label>
                <input asp-for="PlusPerhour" class="form-control" />
                <span asp-validation-for="PlusPerhour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinusPerhour" class="control-label"></label>
                <input asp-for="MinusPerhour" class="form-control" />
                <span asp-validation-for="MinusPerhour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dayoff1" class="control-label"></label>
                @*<input asp-for="Dayoff1" class="form-control" />*@
            @*    <select asp-for= "Dayoff1" class="form-control" asp-items="ViewBag.vac" >
                </select>
                <span asp-validation-for="Dayoff1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dayoff2" class="control-label"></label>
                <select asp-for= "Dayoff2" class="form-control" asp-items="ViewBag.vac" >
                </select>        
                <span asp-validation-for="Dayoff2" class="text-danger"></span>
            </div>
            		<div class="form-actions">
								<button type="button" class="btn btn-danger mr-1">
									<i class="icon-trash"></i> Cancel
								</button>	<button type="button" class="btn btn-success">
									<i class="icon-note"></i> Save
								</button>
							
							</div>*@
        @*    <div class="form-group">
                <input type="submit" value="Cancel" class="btn btn-danger" />
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>*@
@*        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
