
@{
    ViewData["Title"] = "HttpStatusCodeHandler";
}

<div class="container" style="width:80% ;height:600px; text-align:center;align-content:center;">
    <div class="text-danger" style="font-size:2em; margin:auto auto;">
        @ViewBag.ErrorMessage
    </div>
</div>

