@model IEnumerable<HR_System.Models.Employee>
<div>
    <ul class="d-flex flex-grow-1 justify-content-between" style="list-style-type:none">
        <li>Show @*<select asp-items="Model"></select>*@</li>
        <li>Search <span ><input type="text" id="srch" /></span> </li>
        <li><a  class="btn btn-success" asp-action = "create">Create New</a></li>
    </ul>
</div>
<div id="renderemp">

</div>
@section scripts{
    <script>
        $(function(){
            $("#renderemp").load("employees/allemployees")
        })
        $("#srch").on("keyup",function(){
            $("#renderemp").load("employees/allemployees?search="+$("#srch").val())
        })
    </script>
}